
html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
	text-align: center;
	/*font-size: small;*/
	/*font-size: 1.2vmin;*/ /* <-- good size for printing on firefox */
	font-size: 1vw;
}

#whole-wrapper {
	/*background-color: pink;*/
	width: 63.75vmax;
	height: 82.5vmax;
	display: inline-block;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

#top {
	/*background-color: gray;*/
	margin: 0;
	width: 100%;
	height: 25%;
	text-align: left;
	/*border-bottom: thick solid rgb(0, 0, 0);*/
	background-image: url("../../portfolio/final_portfolio_images/Mar2017/nightOwl3.png");
	background-size: 140vmin 140vmin;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-position: 50% 30%;
}

#top-left {
	width: 50%;
	height: 100%;
	/*background-color: green;*/
	font-family: 'Roboto';
	/*padding: 2%;*/
	display: inline-block;
	color: white;
}

#top-right {
	width: 50%;
	height: 100%;
	/*background-color: blue;*/
	float: right;
	display: inline-block;
}

#personal-info {
	/*background-color: yellow;*/
	padding: 5%;
}

#highlights {
	padding: 5%;
}

#bottom {
	background-color: rgb(226, 226, 226);
	height: 75%;
	text-align: left;
}

#bottom-left {
	width: 50%;
	height: 100%;
	/*background-color: white;*/
	display: inline-block;
	vertical-align: top;
}

/*like on pixel off :(*/
#bottom-right {
	width: 50%;
	height: 100%;
	/*background-color: black;*/
	display: inline-block;
	vertical-align: top;
	float: right;
	/*clear: both;*/
}

.subsection {
	padding: 2%;
	/*color: green;*/
}

.subsection-top {
	/*background-color: purple;*/
}

.years-done {
	background-color: rgb(229, 177, 121);
	/*background-color: rgb(209, 140, 66);*/
	color: white;
	width: auto;
	padding: 1%;
	float: left;
	margin: 2% 2% 2% 2%;
	display: inline-block;
	text-align: right;
}

.subsection-bottom-wrapper {
	/*background-color: blue;*/
	display: inline-block;
	width: 100%;
}

.subsection-bottom {
	/*width: 100%;*/
	display: inline-block;
	/*background-color: yellow;*/
	/*width: auto;*/
	margin: 2%;
	margin-left: 0%;
	width: 80%;
}

h1, h2, h3 {
	margin: 0;
}

/*@media only screen and (max-width: 600px) {
	body {
		overflow: scroll;
	}
}*/


@media print {
	body { background-color: #FFFFFF; background-image:none;}
	#ad{display:none;}
	#leftbar{display:none;}
	#contentarea{width:100%;}
	margin: 0%;
}













