@font-face {
    font-family: lemonMilk;
    src: url(fonts/LemonMilk.otf);
}

body, html {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", lemonMilk;
    margin: 0;
    background-color: rgb(206, 221, 224);
}

#slogan {
    /*font-size: 9vh;*/
    font-size: 6vw;
    width: 100%;
    padding: 1vh 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(163, 180, 183);

}

/*-------------------------------------*/

.center-chunk {
    max-width: 50vh;
    width: 46%;
    padding: 2%;
    color: rgb(163, 180, 183);
}

#written-text {
    height: 15%;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 2vh;
    background-color: #f2f2f2;
    border-radius: 2vh;
    font-size: 2vh;
}

#instructions-text {
    height: auto;
    margin: 0 auto;
    background-color: rgb(163, 180, 183);
    border-radius: 2vh;
    font-size: 3vh;
    color: #f2f2f2;
}

#word-text {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /*font-size: 15vh;*/
    font-size: 7vw;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(163, 180, 183);
}

#input-field {
    resize: none;
    font-family: "Montserrat", lemonMilk;
    font-size: 3vh;
    display: block;
    margin: 0 auto;
    margin-bottom: 2vh;
    border: 0;
    border-radius: 2vh;
    background-color: #f2f2f2;
}

#input-field:focus {
    outline: none;
}

/*-------------------------------------*/

.used-word {
    color: green;
    text-decoration: underline;
}

#credits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2vmin;
    color: rgb(163, 180, 183);
}

@media screen and (max-width: 750px) {
    .center-chunk {
        width: 60%;
        max-width: 60vh;
    }

    #word-text {
        font-size: 10vw;
    }
}

@media screen and (max-width: 400px) {
    .center-chunk {
        width: 80%;
        max-width: none;
    }

    #word-text {
        font-size: 15vw;
    }
}

